#deployment-results h2,
#table-of-contents h2,
a,
h2 {
    color: #007bff;
}

footer,
header {
    text-align: center;
}

.code-section,
.info-section {
    border-radius: 5px;
}

#file-downloads ul,
#table-of-contents ul,
ul {
    list-style-type: none;
    padding: 0;
}

#file-downloads button,
footer,
header {
    background-color: #007bff;
    color: #fff;
}

footer,
h1,
header {
    color: #fff;
}

.deployed-image,
.responsive-image {
    max-width: 100%;
    height: auto;
}

.deployed-image,
.info-section {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    padding: 20px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.info-section {
    margin: 30px 0;
    padding: 20px;
    background-color: #fff;
}

.deployed-image,
ul li {
    margin-bottom: 10px;
}

#table-of-contents,
.code-section {
    padding: 10px;
    background-color: #f8f9fa;
}

a {
    text-decoration: none;
}

#table-of-contents a:hover,
a:hover {
    text-decoration: underline;
}

footer {
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

#table-of-contents {
    border-radius: 5px;
    margin-bottom: 20px;
}

#table-of-contents ul li {
    margin-bottom: 10px;
    line-height: 1.5;
}

#table-of-contents a {
    color: #333;
    text-decoration: none;
}

#file-downloads ul {
    display: flex;
}

#file-downloads li {
    margin-right: 10px;
}

#file-downloads button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#file-downloads button:hover {
    background-color: #0056b3;
}

#deployment-results {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#deployment-results p {
    color: #333;
    margin-bottom: 20px;
}

.deployment-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.deployed-image {
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
        /* Decrease font size for smaller screens */
    }

    .container {
        width: 95%;
        /* Further adjust container width for smaller screens */
        margin: 0 auto;
    }

    header {
        padding: 10px 0;
        /* Decrease header padding for smaller screens */
    }

    footer {
        padding: 10px 0;
        /* Decrease footer padding for smaller screens */
    }

    /* Additional mobile-specific styles if needed */

    #file-downloads button,
    footer,
    header {
        width: 100%;
        /* Make buttons, header, and footer take full width */
    }
}